<!-- Floating Register Button -->
<script id="luma-checkout" src="https://embed.lu.ma/checkout-button.js"></script>
<div id="floating-register">
    <a href="/tickets" class="luma-checkout--button" data-luma-action="checkout" data-luma-event-id="{{ eventId }}">
        Get your free ticket
    </a>
</div>
