<footer>
  Website made with HTML and an Azure Static Web App, hosted for free on Azure.
</footer>
<script data-goatcounter="https://devdottalk.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>
