<header>
  <a href="/"><img alt="dev.dottalk" src="/devtalk wide.jpg" class="center" loading="lazy"></a>
  <nav>
    <!-- simple nav -->
    <a href="/">Home</a> |
    <a href="/faqs.html">FAQs</a> |
    <a href="/call-for-speakers.html">Call for Speakers</a>
  </nav>
</header>
