<section>
  <h3 id="who-should-attend">
    <a href="#who-should-attend">Who should attend?</a>
  </h3>
  <ul>
    <li>Software Engineers</li>
    <li>Web Developers</li>
    <li>Systems Designers</li>
    <li>Technical Leads</li>
    <li>Engineering Managers</li>
    <li>Software Architects</li>
    <li>DevOps Engineers</li>
    <li>QA Engineers</li>
    <li>Cyber security experts</li>
    <li>Data Engineers</li>
    <li>BI Analysts</li>
    <li>Students</li>
    <li>Graduates</li>
    <li>Anyone with an interest in the technical workings of software and systems</li>
  </ul>
  <p>
    <b>Recruiters:</b>
    Note that
    <b>{dev.talk}</b>
    events are for everyone, but this is not an event for recruiting. This is a friendly welcoming place and attendees should not feel pressured to use your services. Any recruiter who attends and is seen to break this rule, will be asked to leave immediately.</p>
  <h3 id="attendee-feedback">
    <a href="#attendee-feedback">Attendee Feedback</a>
  </h3>
  <p>If you attended a previous event, then please tell us about your experience using our
    <a href="https://forms.gle/kKaFN1HAUX6pNAtk6" target="_blank">Attendee Feedback Form (Takes 1 min)</a>
  </p>
</section>