<section>
    <h2 id="contact-us">
        <a href="#contact-us">Contact Us</a>
    </h2>
    <p>For any questions or comments, please contact us via:</p>
    <ul>
        <li><a href="/tickets" target="_blank">Buy Tickets</a></li>
        <li><a href="https://bsky.app/profile/devdottalk.uk" target="_blank">Bluesky</a></li>
        <li><a href="mailto:contactus@devdottalk.uk" target="_blank">E-mail</a></li>
        <li><a href="https://discord.gg/N4JGyRthDt" target="_blank">Discord server</a></li>
        <li><a href="https://www.linkedin.com/company/dev-talk" target="_blank">Linkedin</a></li>
    </ul>
</section>