<section>
  <h2 id="supporters">
    <a href="/supporters.html">Supporters</a>
  </h2>
  <p>We couldn’t run {dev.talk} without help – head over to our <a href="/supporters.html">Supporters page</a> to see the full list of organisations who’ve pitched in.</p>
</section>