<section class="support-callout" aria-labelledby="buy-us-a-coffee">
    <h2 id="buy-us-a-coffee">
        <a href="#buy-us-a-coffee">Enjoying <b>{dev.talk}</b>?</a>
    </h2>

    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support us', '#0d5f66', 'X7X4157KKB');kofiwidget2.draw();</script> 
</section>