<section>
  <h2 id="join_us">
    <a href="#join_us">Come and Join Us</a>
  </h2>
  <section>
    <h3 id="event-details">
      <a href="#event-details">Event Details</a>
    </h3>
    <p>
      <b>Please Note:</b>
      That all
      <b>{dev.talk}</b>
      events will be photographed and recorded. If you do not wish to be included in a photo or video, please make the organisers aware.</p>
    <h4 id="tickets">
      <a href="#tickets">Tickets</a>
    </h4>
    <p>If you would like to come to one of our friendly events, see our
      <a href="/tickets" target="_blank">ticket site for free tickets.</a>
    </p>
  </section>
</section>