<section>
    <h2 id="who-are-we">
        <a href="#who-are-we">Who are we?</a>
    </h2>
    <p>
        <b>{dev.talk}</b>
        was created by
        <a href="https://blog.markoliver.website/Bio" target="_blank">Mark Oliver</a>
        in 2024. He saw that Bournemouth was lacking a software engineering based meetup despite being a
        <a href="https://blog.markoliver.website/Bournemouth-Tech-Meetup-Rebirth" target="_blank">Tech Hub</a>
        on the South Coast of the UK, and as Wilton Knight once said
        <a href="https://www.youtube.com/watch?v=otzJszJ9MnA" target="_blank">"one person can make a difference"</a>, so Mark decided to create the meetup, and the community around it.</p>
</section>