<section>
  <h3 id="why-attend">
    <a href="#why-attend">Why attend?</a>
  </h3>
  <ul>
    <li>
      <b>Learn:</b>
      Discover something new from experienced professionals and peers.</li>
    <li>
      <b>Teach:</b>
      Share your knowledge and insights (even if you're not a speaker).</li>
    <li>
      <b>Engage:</b>
      Connect with experts who might help you solve current challenges.</li>
    <li>
      <b>Build Relationships:</b>
      Form meaningful connections within the tech community.</li>
    <li>
      <b>Boost Confidence:</b>
      Gain self-assurance by networking and sharing your ideas.</li>
    <li>
      <b>Express Yourself:</b>
      Share your views, thoughts, and passions in a supportive space.</li>
    <li>
      <b>Diversity of Thought:</b>
      Gain fresh perspectives from a variety of individuals.</li>
    <li>
      <b>Break Barriers:</b>
      Interact with people from diverse backgrounds and experiences.</li>
    <li>
      <b>Discover Venues:</b>
      Explore local spaces you might not have known about before.</li>
    <li>
      <b>Meet New People:</b>
      Expand your personal and professional network.</li>
    <li>
      <b>Find Opportunities:</b>
      Connect with new prospects and opportunities in your area.</li>
    <li>
      <b>Knowledge Sharing:</b>
      Tap into the software engineering expertise within our community.</li>
    <li>
      <b>Networking:</b>
      Engage with peers who share your technical interests and ideas.</li>
    <li>
      <b>Community:</b>
      <b>{dev.talk}</b>
      is created by and for the community-come and be part of it. Everyone is welcome.</li>
  </ul>
</section>