<section>
  <h1 id="welcome">
    <a href="/">Welcome to {dev.talk}</a>
  </h1>
  <p>
    <b>{dev.talk}</b>
    (pronounced "dev dot talk") is a community-driven monthly meetup bringing together software engineers and tech professionals in the Bournemouth and Dorset area.
  </p>
  <p>Free to attend and run by community volunteers, we create an inclusive space where developers of all experience levels can learn, share knowledge, and connect.
  </p>
  <p>
    Each meetup features sessions from community members (mostly of a technical nature), with time for networking and discussions between talks. Whether you're a seasoned developer or just starting out, you'll find a welcoming environment to explore new ideas and "geek out" with fellow tech enthusiasts.
  </p>
  <p>
    To extend our reach beyond the in-person events, all sessions (with speaker permission) are recorded and shared on our
    <a href="https://www.youtube.com/@devdottalk" target="_blank">YouTube Channel</a>, creating an accessible resource for the wider developer community.
  </p>
  <p>
    Our mission is simple: build a thriving, supportive tech community in Dorset where everyone can grow professionally while making meaningful connections.
  </p>
  <p>
    <iframe width="360" height="235" src="https://www.youtube.com/embed/KNHsXMhY3v4?si=XmfxQkc4KcJ1wTow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen="allowfullscreen"></iframe>
  </p>
</section>