<section>
  <h2 id="reactions">
    <a href="#reactions">Comments from Attendees</a>
  </h2>
  <p>Here are some comments about our past events:</p>
  <ul>
    <li>
      <p>"The energy of the younger tech scene and the wealth of knowledge and advice from experienced people in the industry was well worth going for."
        <a href="https://www.linkedin.com/posts/maggie-c-23274085_techtalks-networking-devtalk-activity-7311301149200908288-YGrV" target="_blank">Read in full</a>
      </p>
    </li>
    <li>
      <p>"Had an amazing time at {dev.talk} at Cottonwood in Bournemouth! Met a diverse group of software engineers, tech enthusiasts, and creatives. Excited to see more game designers join this vibrant community soon!"
        <a href="https://www.linkedin.com/posts/frank-ugonna-princewill_networking-techcommunity-softwareengineering-activity-7311167775622782982-D267" target="_blank">Read in full</a>
      </p>
    </li>
    <li>
      <p>"As always it was nice to catchup with some familiar faces, as well as meeting some new ones. I've really enjoyed getting to know more of the local tech scene over the past few months."
        <a href="https://www.linkedin.com/posts/georgebuckingham_what-a-fantastic-night-thank-you-to-everyone-activity-7311114791270400002-Ygdf" target="_blank">Read in full</a>
      </p>
    </li>
    <li>
      <p>"I think it's really great we get to have something like this in Bournemouth for people like us to network and meet some great people, and for free as well it's very kind of him considering the amount of time and effort it takes to organise events like these so thank you very much 😁"
        <a href="https://www.linkedin.com/posts/rhys-green-cga_had-a-great-time-networking-at-devtalk-activity-7311055353356386305-HmZV" target="_blank">Read in full</a>
      </p>
    </li>
    <li>
      <p>"I really enjoyed my first networking experience and I am looking forward to the next!"
        <a href="https://www.linkedin.com/posts/toby-brown-bournemouth_networking-devtalk-techcommunity-activity-7311130550642106370-nMCI" target="_blank">Read in full</a>
      </p>
    </li>
    <li>
      <p></p>"Onwards to the next one!"
      <a href="https://www.linkedin.com/posts/miguel-salvador19_yesterday-it-was-my-time-to-speak-at-devtalk-activity-7311132258264842240-x3dz" target="_blank">Read in full</a>
    </p>
  </li>
  <li>
    <p>"Last night felt like a nostalgic throwback to my Computer Science days at University backbenching with the geeks, delivering presentations, and throwing around technical jargon."
      <a href="https://www.linkedin.com/posts/samuelkori_devtalk-networking-activity-7310946466582200321-CWaP" target="_blank">Read in full</a>
    </p>
  </li>
  <li>
    <p></p>"Really enjoyed attending this event this evening. ... Thanks Mark and team for facilitating a great event"
    <a href="https://www.linkedin.com/posts/threedfd_what-a-fantastic-night-thank-you-to-everyone-activity-7310796078444937217-hYiu" target="_blank">Read in full</a>
  </p>
</li>
<li>
  <p>"Was a great way to get involved in the local community and meet some lovely new people. 10/10 will be doing it again"
    <a href="https://www.linkedin.com/feed/update/urn:li:activity:7310786200955441152?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A7310786200955441152%2C7311019899236024320%29&dashCommentUrn=urn%3Ali%3Afsd_comment%3A%287311019899236024320%2Curn%3Ali%3Aactivity%3A7310786200955441152%29" target="_blank">Read in full</a>
  </p>
</li></ul></section>