{% import "session-info-item.njk" as session %}
<section>
  <h2 id="upcoming-sessions">
    <a href="#upcoming-sessions">Upcoming sessions</a>
  </h2>
  <ul>
    {{ session.sessionInfoItem('Gender Identity & Me: Life as an autistic software engineer', '30 mins', 'Rose T', 'http://lgbtbrickworks.co.uk/', "I'm a 22 year old Trans woman and have had an unusual life story - I want to use my skills and platform to educate about Autism & neurodiversity, trans rights and broadly sharing love and respect for each other especially when it comes to mental health. I attended a specialist Maths School for my A-levels where I achieved A*s in Maths, Further Maths and Computer Science before starting a degree apprenticeship at a large American bank which I have just finished achieving a 1st class degree in Digital & Technology Solutions from the University of Exeter. Throughout the last 6 years, I have gone from being on a plane for the first time to having travelled to the USA for 2 weeks solo, to Japan for 2 weeks with friends. I've come out as Rose, struggled with my mental health and learnt a lot", null, null) }}
    {{ session.sessionInfoItem('Building my blog: A journey of discovery', '45 mins', 'Mark Oliver', 'https://www.linkedin.com/in/profileformarkoliver/', 'In this session, I will explain the journey of discovery of building my fully interactive Blog website and the engine behind it, using free cloud technologies such as Azure Static Web Apps, Github Actions and Blazor WebAssembly.', null, null) }}
    {{ session.sessionInfoItem('Why is there a shark in my Wire - An introduction to Wireshark', '25 mins', 'Mark Oliver', 'https://www.linkedin.com/in/profileformarkoliver/', 'A short introduction to the network protocol analyser tool Wireshark, and why it can be helpful for software engineers. I will show the basics of running the tool, the benefits of knowing this tool for all software developers, and then cover some real life examples of where it has been used to aid development of production systems.', null, null) }}
  </ul>
</section>
