<section>
  <span id="table-of-contents">
    <fieldset class="fixed-top">
      <legend>Table of Contents</legend>
      <ul>
        <li><a href="#join_us">Come and Join Us</a></li>
        <ul>
          <li><a href="#event-details">Event Details</a></li>
          <ul>
            <li><a href="#tickets">Tickets</a></li>
          </ul>
          <li><a href="#typical-agenda">What Does a Typical Event Look Like?</a></li>
          <li><a href="#why-attend">Why attend?</a></li>
          <li><a href="#who-should-attend">Who should attend?</a></li>
          <li><a href="#attendee-feedback">Attendee Feedback</a></li>
        </ul>
        <li><a href="#call_for_speakers">Come and Speak</a></li>
        <li><a href="#volunteers">Volunteering</a></li>
        <li><a href="#code-of-conduct">Code of Conduct</a></li>
        <li><a href="#upcoming-sessions">Upcoming sessions</a></li>
        <li><a href="#previous-sessions">Previous sessions</a></li>
        <li><a href="#upcoming-events">Upcoming events</a></li>
        <li><a href="#previous-events">Previous events</a></li>
        <li><a href="#local_events">Other local tech based events</a></li>
        <li><a href="#supporters">Supporters</a></li>
        <li><a href="#venues">Venues</a></li>
        <li><a href="#youtube">YouTube</a></li>
        <li><a href="#reactions">Comments from Attendees</a></li>
        <li><a href="#who-are-we">Who are we?</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
        <li><a href="#buy-us-a-coffee">Buy us a Coffee</a></li>
        <li><a href="#faqs">Frequently Asked Questions (FAQs)</a></li>
        <li><a href="#privacy-policy">Privacy Policy</a></li>
      </ul>
    </fieldset>
  </span>
</section>