<section>
    <h2 id="buy-us-a-coffee">
        <a href="#buy-us-a-coffee">Buy us a Coffee</a>
    </h2>
    <p>Buy the
        <b>{dev.talk}</b>
        team a
        <a href="https://devdottalk.uk/support-us" target="_blank">coffee.</a>. Any monies given will be used to provide refreshments at the following meetup.</p>
</section>