{% import "session-info-item.njk" as session %}
<section>
  <h2 id="upcoming-sessions">
    <a href="#upcoming-sessions">Upcoming sessions</a>
  </h2>
  <ul>
    {# render sessions from the shared data file #}
    {% for sess in sessions.upcoming %}
      {{ session.sessionInfoItem(sess) }}
    {% endfor %}
  </ul>
</section>
