<section>
  <h2 id="volunteers">
    <a href="#volunteers">Volunteering</a>
  </h2>
  <p>Do you want to get involved?</p>
  <p>We always need people to:</p>
  <ul>
    <li>Welcome and check-in attendees</li>
    <li>Help setup and pack down afterwards</li>
    <li>Tech support for the speakers</li>
    <li>Take photos</li>
    <li>Help film the event</li>
    <li>Maintain the
      <a href="https://github.com/mosoftwareenterprises/devdottalkwebsite" target="_blank">website</a>
    </li>
    <li>Help find speakers</li>
  </ul>
  <p>If this is something you are interested in doing, then please
    <a href="mailto:volunteers@devdottalk.uk">Contact us</a>
  </p>
</section>