<section>
  <h2 id="youtube">
    <a href="#youtube">YouTube</a>
  </h2>
  <p>View past sessions on our
    <a href="https://www.youtube.com/@devdottalk" target="_blank">YouTube Channel</a>
  </p>
</section>