{% import "session-info-item.njk" as session %}
<section>
  <h2 id="upcoming-sessions">
    <a href="#upcoming-sessions">Upcoming sessions</a>
  </h2>

  <ul>
    {# render sessions sorted by eventID, with eventID 0 at the bottom #}
    {% for sess in sessions.upcomingEvents %}
      {{ session.sessionInfoItem(sess, true) }}
    {% endfor %}
  </ul>
</section>
