<section>
  <h2 id="code-of-conduct">
    <a href="#code-of-conduct">Code of Conduct</a>
  </h2>
  <p>We have a
    <a href="code-of-conduct.html" target="_blank">code of conduct</a>
    that will be strictly adhered to. We want to be welcoming to everyone no matter who they are, what skill level they have or where they come from.
  </p>
</section>