---
layout: layout
title: "{dev.talk} - October 2025"
description: "Event details for {dev.talk} October 2025 meetup"
includeBlueskyPosts: true
permalink: 2025-october-location-info.html
---

<a href="https://devdottalk.uk/"><img alt="The devdottalk logo" src="/devtalk-wide.jpg" loading="lazy" class="center"></a>
<h1>To Attendees</h1>
<p>SUBJECT: {dev.talk} location information</p>
<p></p>
<p>Hello,</p>
<p>&nbsp;</p>
<p>Thank you for acquiring a free ticket for {dev.talk}!</p>
<p><em>Organising these events takes a lot of time and effort that nobody is paid for, so please be respectful to that time and If you no longer wish to attend, please cancel your ticket via eventbrite (or email <u><a href="mailto:contactus@devdottalk.uk">contactus@devdottalk.uk</a></u>&nbsp;).</em></p>
<p></p>
<p><strong>Date</strong>: Wednesday 22nd October 2025</p>
<p><strong>Time: </strong>Doors open at 6:50</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Event starts at 7pm.</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Event finishes at 9pm</p>
<p><strong>Room:</strong>&nbsp;PG22, Poole House (main entrance to BU) (see building map below for location)</p>
<p><strong>Address</strong>: Talbot Campus, Bournemouth University, Fern Barrow, Poole, Dorset, BH12 5BB</p>
<p><u><a href="https://maps.app.goo.gl/Ejic4UXLqMhZ37jRA">https://maps.app.goo.gl/Ejic4UXLqMhZ37jRA</a></u></p>
<p></p>
<p><u><a href="https://www.bournemouth.ac.uk/sites/default/files/asset/document/talbot-campus-map_0.pdf">https://www.bournemouth.ac.uk/sites/default/files/asset/document/talbot-campus-map_0.pdf</a></u>&nbsp;</p>
<p><img alt="" src="/images/talbot-campus-location.png" style="width: 677.29px; height: 337.33px;"></p>
<p></p>
<p><img alt="" src="/images/image2.png" style="width: 677.29px; height: 469.33px;"></p>
<p><img alt="" src="/images/image1.png" style="width: 677.29px; height: 453.33px;"></p>
<p></p>
<p>&#8203;</p>
<p><strong>Entrance: </strong>&nbsp;Poole House is the main building at Talbot Campus, and is the Main Entrance.</p>
<p><strong>Travel:</strong>&nbsp;A bus drops off at the Main Entrance, there are lots of cycle routes too.</p>
<p><strong>Parking: </strong>Car parks in the campus map above (blue cross in map above), should be available to park at, and we are told they will be free at that time of day, but please check signage.</p>
<p><strong>Disabled Access: </strong>The room is on the ground floor and is accessible.</p>
<p><strong>Refreshments: </strong>There will be soft drinks, and some biscuits available on the night. Please highlight to the organisers if there are any allergen issues.</p>
<p></p>
<p>On arrival, your ticket will be checked, and you will be asked to fill in a name badge.</p>
<p></p>
<p><strong>Note </strong>- There will be cameras recording and photographing the event, please highlight to the camera operator if you do not want to be included in any photos/videos. All photos/videos may be used in publicising future events, and be published to YouTube.</p>
<p></p>
<p>We are excited to see you!</p>
<p>{dev.talk} team</p>
