---
layout: layout
title: "{dev.talk} - Call for Speakers"
description: "Become a speaker at {dev.talk} meetup - all experience levels welcome"
includeBlueskyPosts: true
permalink: call-for-speakers.html
---

<h2 id="call_for_speakers"><a href="#call_for_speakers">Come and Speak</a></h2>
<section>
    <p>This is a <strong>community-driven event</strong>, where sessions are run by all of us. <strong>No matter your skill level, experience in the industry, or background in public speaking, you are warmly encouraged to take part.</strong></p>
    <h3 id="what-can-you-talk-about"><a href="#what-can-you-talk-about">What Can You Talk About?</a></h3>
    <p>We welcome sessions of any length-from <strong>lightning talks (5 minutes)</strong> to <strong>in-depth discussions (up to 90 minutes)</strong>-on topics related to <strong>software engineering</strong>, including:</p>
    <ul>
        <li>Technical deep dives</li>
        <li>Soft skills</li>
        <li>Mental health in the tech industry</li>
        <li>Career progression</li>
    </ul>
    <p>Here are some sample topic ideas for sessions that you could present:</p>
    <ul>
        <li>Building Scalable Web Applications</li>
        <li>Effective Code Reviews</li>
        <li>DevOps: Automating Software Delivery Pipelines</li>
        <li>Cybersecurity for Developers</li>
        <li>Navigating Cloud Computing Platforms</li>
        <li>Building for Accessibility</li>
        <li>Using AI for Code Generation and Debugging</li>
        <li>APIs in Practice: Designing for Performance and Usability</li>
        <li>Mastering Git and Version Control</li>
        <li>Testing Strategies for Modern Applications</li>
        <li>Serverless Computing Explained</li>
        <li>Ethics in Software Development</li>
        <li>Design Patterns for Modern Applications</li>
        <li>Testing in Depth: Unit, Integration, and Performance</li>
        <li>TDD/BDD: Writing Tests That Drive Your Development</li>
        <li>Cloud-Native Development: Patterns and Practices</li>
        <li>Architecture Discussions: Monoliths, Microservices, and Beyond</li>
        <li>Coding Best Practices for Maintainable Software</li>
        <li>Tips and Tricks of your favourite language</li>
        <li>UX Design for Developers: Building with the User in Mind</li>
    </ul>
    <h3 id="help-you-succeed"><a href="#help-you-succeed">How We'll Help You Succeed</a></h3>
    <p>We're committed to making sure everyone feels supported in contributing to {dev.talk}. Here's how we can help:</p>
    <ul>
        <li><strong>Brainstorming Ideas:</strong> If you're unsure what to talk about, we'll help you find a topic.</li>
        <li><strong>Structuring Your Session:</strong> Guidance on organizing your content to deliver a clear and engaging talk.</li>
        <li><strong>Practice Opportunities:</strong> Run through your session with us via video call to build confidence.</li>
    </ul>
    <h3 id="why-join-us"><a href="#why-join-us">Why Join Us?</a></h3>
    <ul>
        <li><strong>All Experience Levels Welcome:</strong> Whether you're a seasoned speaker or completely new, we'll support and encourage you.</li>
        <li><strong>Friendly and Supportive Atmosphere:</strong> We want {dev.talk} to feel like a group of friends who uplift and learn from one another.</li>
        <li><strong>Small group:</strong> We generally have between 40 & 60 attendees, so it feels like a big friend meetup</li>
    </ul>
</section>
<h3 id="speaker-resources"><a href="#speaker-resources">Resources on becoming a speaker</a></h3>
<ul>
    <li><a href="https://slides.google.com/" target="_blank">Google Slides - Free slide building software</a></li>
    <li><a href="https://speaking.io/" target="_blank">A simple list of how to become a speaker and set out your talk.</a></li>
    <li><a href="https://dev.to/estruyf/making-live-coding-demos-easier-with-demo-time-d8o#" target="_blank">Making Live Coding Demos Easier with Demo Time</a></li>
    <li><a href="https://github.com/kufii/CodeSnap" target="_blank">Take formatted screenshots of code simply</a></li>
    <li><a href="https://adrianhoward.com/posts/beating-conference-stage-fright/" target="_blank">Beating stage fright</a></li>
    <li><a href="https://www.linkedin.com/posts/mdsomerfield_im-speaking-at-the-cto-craft-conference-activity-7303016263436378112-ct9F?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAcHPj8BvpBXk3LpLNgJAYvGWSawLFzLZsw" target="_blank">An old colleague used to say that, when you're nervous about giving a presentation, 'remember, you are just an interface for knowledge that other people want'.</a></li>
    <li><a href="https://lucybain.com/blog/2016/conference-proposal-ideas/" target="_blank">How to come up with conference proposal ideas</a></li>
    <li><a href="https://www.garrreynolds.com/tips" target="_blank">Presentation Zen TIPS</a></li>
</ul>
<h3>Slide Generation Tips</h3>
<ul>
    <li>Google Slides is simple to use and free.</li>
    <li>Exporting from powerpoint and importing to Google Slides can remove animations.</li>
    <li>If you are doing live code demos, think about how you can deal with no internet access (e.g. pre-recorded gif or something like demotime)</li>
    <li>Are your slides easy to read from far away?</li>
    <li>Slides with a Black background don't show up well to the audience or camera</li>
    <li>If you are adding Speaker Notes, make sure you can read them from far away (Font Size 20+)</li>
</ul>
<h3 id="speaker-feedback"><a href="#speaker-feedback">Speaker Feedback</a></h3>
<p>If you were a speaker previously, then please tell us how it went, using our <a href="https://forms.gle/BrHud1Nrt1exWJNm9" target="_blank">Speaker Feedback Form (2 mins)</a>. </p>
<h3 id="call-for-speakers"><a href="#call-for-speakers">Call For Speakers</a></h3>
<img alt="The devdottalk call for speakers logo" src="/CallForSpeakers.png" loading="lazy" class="center">
<p>If you would like to contribute to the community by speaking at <b>{dev.talk}</b> then register your interest (this is not a commitment) using our <a href="https://forms.gle/B2RJJEM2iDp33KjX7" target="_blank">Call for Speakers form (2 mins)</a>, and one of the team will get back to you quickly.</p>
<p><i>Unfortunately as <b>{dev.talk}</b> does not use sponsorship, speaker payment or their expenses will NOT be covered.</i></p>
<p>If you have agreed to speak and know what your topic is, then please also fill out the <a href="https://forms.gle/RvSF356LV4D81TMT9" target="_blank">Confirmed Speakers</a> form with the details of your session, so a date and an agenda can be determined.</p>
