---
layout: layout
title: "{dev.talk} - Code of Conduct"
description: "Code of Conduct for {dev.talk} community events"
includeBlueskyPosts: true
permalink: code-of-conduct.html
---

<section class="code-of-conduct">
    <h1>Code of Conduct</h1>
    <p>We are committed to providing a safe, inclusive, and respectful environment for all participants. This Code of Conduct outlines our expectations for behavior and ensures that everyone can fully enjoy the {dev.talk} experience. By attending, you agree to abide by this Code of Conduct, both in-person and online.</p>
    <ol>
        <li><strong>Be Inclusive and Respectful:</strong> Treat everyone with respect and kindness. Embrace diversity of thought, background, and experience. Avoid offensive comments, jokes, or gestures.</li>
        <li><strong>Harassment-Free Zone:</strong> Harassment of any kind, including but not limited to verbal, physical, or visual harassment, is not tolerated. Respect personal space and boundaries. If someone asks you to stop a behavior, respect their request immediately.</li>
        <li><strong>Zero Tolerance for Discrimination:</strong> Discrimination or bias based on race, gender, age, sexual orientation, disability, religion, or any other protected status is unacceptable.</li>
        <li><strong>Be Mindful of Language:</strong> Use inclusive language and avoid offensive terms. Be aware of cultural sensitivities and differences in communication styles.</li>
        <li><strong>Reporting Incidents:</strong> If you witness or experience any violations of this Code of Conduct, please report it to organizers immediately. You can reach out to one of the volunteers or email <a href="mailto:contactus@devdottalk.uk">contactus@devdottalk.uk</a>. Event staff will be available and easily identifiable to assist you.</li>
        <li><strong>Online Conduct:</strong> Online interactions should adhere to the same standards of respect as in-person interactions. Do not engage in cyberbullying, trolling, or any form of online harassment.</li>
        <li><strong>Professionalism:</strong> Maintain a professional and constructive attitude during sessions,  and social events. Respect speakers, presenters, and fellow attendees.</li>
        <li><strong>Alcohol and Substance Use:</strong> If alcohol is served at the event, drink responsibly. The use of illegal substances is strictly prohibited.</li>
        <li><strong>Photography and Recording:</strong> Respect the privacy and consent of others before taking photos or recording. Follow any specific guidelines provided by the organisers regarding photography and recording.</li>
        <li><strong>Consequences for Violations:</strong> Organizers reserve the right to take appropriate action, including warning, expulsion from the session without a refund, and reporting to law enforcement if necessary.</li>
    </ol>
    <p>By attending a {dev.talk} event, you contribute to creating a positive and inclusive environment for everyone. Thank you for your cooperation in making this community a great experience for all.</p>
</section>
