---
layout: layout
title: "{dev.talk} - Frequently Asked Questions (FAQs)"
description: "Frequently Asked Questions about {dev.talk} meetup"
includeBlueskyPosts: true
permalink: faqs.html
---

<a href="https://devdottalk.uk/"><img alt="The devdottalk logo" src="/devtalk wide.jpg" loading="lazy" class="center"></a>
<h2 id="faqs"><a href="#faqs">Frequently Asked Questions (FAQs)</a></h2>
<ul>
  <li>
    <strong>Is there a code of conduct?</strong>
    <p>YES, and it will be strictly followed: <a href="https://devdottalk.uk/code-of-conduct/" target="_blank">Code of Conduct</a></p>
  </li>
  <li>
    <strong>How do we get in touch?</strong>
    <p>All ways to get in touch are on our website: <a href="https://devdottalk.uk/" target="_blank">devdottalk.uk</a></p>
  </li>
  <li>
    <strong>I am just learning, can I come?</strong>
    <p>YES - Everyone is welcome. Come and meet people from all stages in their career.</p>
  </li>
  <li>
    <strong>Will there be refreshments?</strong>
    <p>Soft drinks and biscuits will be provided.</p>
  </li>
  <li>
    <strong>Are there going to be recruitment agencies attending?</strong>
    <p>No selling or promotion of services is allowed at our event. Any person found doing so will be asked to leave.</p>
  </li>
  <li>
    <strong>Is this event really free?</strong>
    <p>YES - The organisers are committed to creating a community and receive no benefit from the event other than the community. We rely on the support of the venue hosts for a free event space.</p>
  </li>
  <li>
    <strong>Can we contribute to the refreshments?</strong>
    <p>Sure, they are currently provided by the organisers (we have no sponsors), but if you want to help out, check out our <a href="https://ko-fi.com/devdottalk" target="_blank">Ko-Fi link</a>.</p>
  </li>
</ul>
