---
layout: layout
title: "{dev.talk} - A FREE monthly meetup for software engineers"
description: "{dev.talk} a FREE monthly meetup for software engineers and related disciplines in the south of the UK run by volunteers within the community."
includeBlueskyPosts: true
permalink: index.html
---

{% include "index/section-welcome.njk" %}
{% include "index/section-toc.njk" %}
{% include "index/section-join-us.njk" %}
{% include "index/section-typical-agenda.njk" %}
{% include "index/section-why-attend.njk" %}
{% include "index/section-who-should-attend.njk" %}
{% include "index/section-call-for-speakers.njk" %}
{% include "index/section-volunteering.njk" %}
{% include "index/section-code-of-conduct.njk" %}
{% include "index/section-upcoming-sessions.njk" %}
{% include "index/section-previous-sessions.njk" %}
{% include "index/section-upcoming-events.njk" %}
{% include "index/section-previous-events.njk" %}
{% include "index/section-local-events.njk" %}
{% include "index/section-supporters.njk" %}
{% include "index/section-venues.njk" %}
{% include "index/section-youtube.njk" %}
{% include "index/section-reactions.njk" %}
{% include "index/section-who-are-we.njk" %}
{% include "index/section-contact-us.njk" %}
{% include "index/section-buy-us-a-coffee.njk" %}
{% include "index/section-faqs.njk" %}
{% include "index/section-privacy-policy.njk" %}
