---
layout: layout
title: "{dev.talk} - Other Local Tech Events"
description: "A list of other local tech based events in the Bournemouth area"
includeBlueskyPosts: true
permalink: local-events.html
---


<h2 id="local_events"><a href="#local_events">Other local tech based events</a></h2>
<p>A list of regular tech based events within 1 hour drive of Bournemouth:</p>
<h3>NEW meetups</h3>
<ul>
    <li><a href="https://chat.whatsapp.com/IWZ1qAoUuyWEAIfRSDScj8?mode=wwc" target="_blank">Bournemouth Haskell</a></li>
    <li><a href="https://justpickoneuk.eventbrite.com" target="_blank">Creatives Coffee Club</a></li>
</ul>
<h3>Bournemouth Area regular meetups</h3>
<ul>
    <li><a href="https://siliconsouth.org.uk/event/techtonic/" target="_blank">TechTonic</a></li>
    <li><a href="https://www.bournemouth2600.org/" target="_blank">Bournemouth 2600</a></li>
    <li><a href="https://www.meetup.com/owasp-dorset-chapter/" target="_blank">OWASP Dorset Chapter</a></li>
    <li><a href="https://www.eventbrite.co.uk/o/things-connected-34135748213" target="_blank">Things Connected</a></li>
    <li><a href="https://www.linkedin.com/groups/12699869/" target="_blank">Speak Easy - Digital, Tech, Creative</a></li>
    <li><a href="https://www.eventbrite.co.uk/e/south-coast-ecommerce-meet-up-tickets-1086879629229" target="_blank">South Coast eCommerce Meet-Up</a></li>
    <li><a href="https://siliconsouth.org.uk/event/coastal-ux-launch-event/" target="_blank">CoastalUX</a></li>
    <li><a href="https://www.linkedin.com/company/cybersecwomen/posts/?feedView=all" target="_blank">CyberSecWomen</a></li>
    <li><a href="https://www.digitalskillshub.org.uk/tech-talks" target="_blank">Digital Skills Hub - Tech Talks</a></li>
    <li><a href="https://www.eventbrite.co.uk/o/dorset-digital-skills-workshops-106011585641?aff=ebeseaorganizationprofile" target="_blank">Dorset Digital Skills Workshops</a></li>
    <li><a href="https://www.meetup.com/bournemouth-devops/" target="_blank">DevOps Exchange - Bournemouth</a></li>
    <li><a href="https://www.meetup.com/golang-dorset/" target="_blank">Golang Dorset</a></li>
</ul>
<h3>Bournemouth Area annual Conferences</h3>
<ul>
    <li><a href="https://reconnectconference.co.uk/" target="_blank">re:connect Conference</a></li>
    <li><a href="https://bsides-bournemouth.org/" target="_blank">BSides Bournemouth Conference</a></li>
</ul>
<h3>Southampton Area</h3>
<ul>
    <li><a href="https://www.linkedin.com/company/creative-catalyst-south/posts/?feedView=all" target="_blank">Southern Creative Catalyst | MAKE</a></li>
    <li><a href="https://www.meetup.com/southampton-data-platform-and-cloud-group/" target="_blank">Southampton Microsoft Data Platform and Azure Cloud</a></li>
    <li><a href="https://www.meetup.com/developersouthcoast/" target="_blank">Developer South Coast</a></li>
    <li><a href="https://www.linkedin.com/groups/12907369/" target="_blank">Women in Tech Hampshire</a></li>
    <li><a href="https://www.meetup.com/meetup-group-phphants/" target="_blank">PHP Hants</a></li>
    <li><a href="https://www.meetup.com/pydata-southampton/" target="_blank">PyData Southampton</a></li>
    <li><a href="https://www.meetup.com/MCSCUG/" target="_blank">Microsoft Cloud (South Coast) User Group</a></li>
    <li><a href="https://www.linkedin.com/groups/13054429/" target="_blank">Hampshire AI</a></li>
</ul>
<h3>Dorset based</h3>
<ul>
    <li><a href="https://www.meetup.com/dorset-umbraco-meetup/" target="_blank">Dorset Umbraco Meetup</a></li>
    <li><a href="https://www.linkedin.com/groups/12742155/" target="_blank">Women In Tech Dorset</a></li>
</ul>
