---
layout: layout
title: "{dev.talk} - Privacy Policy"
description: "Privacy Policy for {dev.talk}"
includeBlueskyPosts: true
permalink: privacy-policy.html
---

<h2 id="privacy-policy"><a href="#privacy-policy">Privacy Policy</a></h2>
<p><b>{dev.talk}</b> is committed to protecting your privacy and will never sell your information.</p>
<h3>1. Information We Collect</h3>
<p>We collect the following types of information for all attendees:</p>
<ul>
  <li><strong>Personal Information:</strong> Name, email address, when you register for events or sign up for our communications.</li>
  <li><strong>Event Participation Data:</strong> Information about the events you attend or register for, including preferences or feedback.</li>
</ul>
<p>We collect the following types of additional information for speakers:</p>
<ul>
  <li><strong>Personal Information:</strong> Name, Job Title, email address, profile picture, Bio links, when you speaking at events.</li>
</ul>
<h3>2. How We Use Your Information</h3>
<p>We use the collected information to:</p>
<ul>
  <li>Facilitate event registration and communication about events.</li>
  <li>Send updates, newsletters, or announcements about our activities.</li>
  <li>Understand attendee preferences to improve our events and offerings.</li>
  <li>Comply with legal obligations, if necessary.</li>
</ul>
<p>We do not sell or share your personal information with third parties for marketing purposes.</p>
<h3>3. How We Share Your Information</h3>
<p>We may share your information only:</p>
<ul>
  <li>With service providers (e.g., event platforms or email tools) who assist in organizing and managing our events.</li>
  <li>If required by law, regulation, or legal processes.</li>
  <li>With your consent, in cases where you choose to participate in certain public forums (e.g., discussion boards or social media).</li>
</ul>
<h3>4. Data Storage and Security</h3>
<p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, no data transmission or storage system can be guaranteed to be 100% secure.</p>
<h3>6. Photography and Recording</h3>
<p>By attending our events, you consent to being photographed or recorded, as we may capture images or videos for promotional purposes. If you prefer not to be photographed or recorded, please inform us in advance or speak with an event organizer.</p>
