* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

main {
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 30em) {
  main {
    width: 50%;
  }
}

main>h1 {
  text-align: center;
  font-size: 3.5em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centeredimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.container {
  display: flex;
  align-items: center;
}

@media (max-width: 70em) {
  .container {
    flex-wrap: wrap;
  }
}

.text {
  padding-left: 20px;
  float: left;
}

.page-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  flex: 3;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.75em;
}