---
layout: layout
title: "{dev.talk} - Supporters"
description: "Organisations and individuals who help keep {dev.talk} running."
permalink: supporters.html
---

<section class="supporters">
  <h1>Supporters</h1>
  <p>{dev.talk} could not happen without the generosity of our supporters. Thank you to everyone who pitched in – here’s a list of organisations that have helped so far.</p>
  <ul>
    <li>
      <div class="container">
        <div class="image">
          <a href="https://reconnectconference.co.uk/" target="_blank"><img alt="Reconnect Logo" src="https://reconnectconference.co.uk/wp-content/uploads/2025/03/cropped-reconnect-2.png" loading="lazy" style="height: 50px; width: 120px;"></a>
        </div>
        <div class="text">
          <p>
            <a href="https://reconnectconference.co.uk/" target="_blank">re:connect</a>
            - A huge supporter. They help source the event spaces for the meetup, provide the subscription to the ticketing system, and provide the most important thing of all - moral support!
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="container">
        <div class="image">
          <a href="https://www.youtube.com/@JustPickOneUK" target="_blank"><img alt="JustPickOneUK Logo" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiXoWLUYHqTueKK_Q8glr-EKV3nUdwbiV-Fk3x-qfgGQ1gxAQB6WPfkOWb8d8sWcHamt3jeJ5iSAbbs5qmSPCnzMcwbofa2noq6JQlH5oxbrSS13rXhy7c0lExorCgGuf-yrqaZiESDfx8C0rEeBJg0RKLRz6iERKsmtTPebWKBY2uNxek/s220/JustPickOneLogo.jpg" loading="lazy" style="height: 80px; width: 80px;"></a>
        </div>
        <div class="text">
          <p>
            <a href="https://www.youtube.com/@JustPickOneUK" target="_blank">JustPickOneUK</a>
            supports us by allowing the use of their video cameras and microphones to record the sessions.
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="container">
        <div class="image">
          <a href="https://www.iod.com/" target="_blank"><img alt="Institute of Directors Logo" src="https://www.iod.com/app/themes/iod/assets/images/dcf880e667d5d169da60f137b4e58e9d.svg" loading="lazy" style="height: 75px; width: 75px;"></a>
        </div>
        <div class="text">
          <p>
            <a href="https://www.iod.com/" target="_blank">Institute of Directors</a>
            supported us by providing the first meetup venue (Nov 2024).
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="container">
        <div class="image">
          <a href="https://www.patch.work/locations/bournemouth" target="_blank"><img alt="Patch Logo" src="https://cdn.prod.website-files.com/6058d025d15c0dbc5509ee4c/64007573dcf34818fa04e7c7_Patch-logo.svg" loading="lazy" style="height: 65px; width: 75px;"></a>
        </div>
        <div class="text">
          <p>
            <a href="https://www.patch.work/locations/bournemouth" target="_blank">Patch (Bournemouth)</a>
            supported us by providing a meetup venue (Jan 2025).
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="container">
        <div class="image">
          <a href="https://labs.uk.barclays/locations/poole/" target="_blank"><img alt="Barclays Eagle Labs Logo" src="https://www.inclusivegrowthleeds.com/sites/default/files/inline-images/Barclays-ELs-primary-cyan-rgb%20%28002%29_0.png" loading="lazy" style="height: 65px;"></a>
        </div>
        <div class="text">
          <p>
            <a href="https://labs.uk.barclays/locations/poole/" target="_blank">Barclays Eagle Labs (Poole)</a>
            supported us by providing a meetup venue (Feb 2025).
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="container">
        <div class="image">
          <a href="https://sessionize.com/" target="_blank"><img src="https://sessionize.com/landing/images/brand/banners/sessionize-banner-small.png" alt="The smart way to do Call for Papers,Schedule and Speaker Management." width="118" height="70" loading="lazy"></a>
        </div>
        <div class="text">
          <p>
            <a href="https://sessionize.com/" target="_blank">Sessionize</a>
            supported us by providing Call For Speakers Community access.
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="container">
        <div class="image"></div>
        <div class="text">
          <p>Meyrick Estates supported us by providing a meetup venue (Mar 2025).
          </p>
          <i>
            <p>"We are pleased to facilitate {dev.talk} at the Cottonwood Hotel and hope that the event is a great success. We are very keen to work with the local community to facilitate and trial new events as we begin an exciting journey to foster new collaborations, business and creative activity to the East Cliff. For enquiries to stage your event at the venue please contact: andrew@ajemeryconsulting.com"</p>
          </i>
        </div>
      </div>
    </li>
    <li>
      <div class="container">
        <div class="image">
          <a href="https://www.bournemouth.ac.uk/" target="_blank"><img src="https://www.bournemouth.ac.uk/sites/all/themes/bournemouth/assets/images/logo-horizontal.svg" alt="Bournemouth University" width="210" height="45" loading="lazy"></a>
        </div>
        <div class="text">
          <p>
            <a href="https://www.bournemouth.ac.uk/" target="_blank">Bournemouth University</a>
            supported us by providing multiple meetup venues.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>