---
layout: layout
title: "{dev.talk} - Venue Requirements"
description: "Help us find venues to host {dev.talk} meetups"
includeBlueskyPosts: true
permalink: venues.html
---

<h2 id="venues"><a href="#venues">Venues</a></h2>
<p>In order to run the <b>{dev.talk}</b> sessions, we need a free space to host the attendees and speakers. Our recent events are bringing about 40 attendees each time, so getting a space that fits them all is tricky. If you know of a venue that may be able to host us for free (<b>{dev.talk}</b> is run by volunteers and does not use sponsors), then please <a href="mailto:venue@devdottalk.uk">Contact us</a></p>
<h3 id="venue-requirements"><a href="#venue-requirements">Venue Requirements</a></h3>
<p>It needs to be able to: </p>
<ul>
    <li>Be within 10 miles of Bournemouth</li>
    <li>Have a large screen (Projector or TV bigger than 65 inches) capable of showing Powerpoint presentations that all seated attendees can read easily.</li>
    <li>Seating for 40 attendees with a good view of the screen</li>
    <li>Additional space in order for all attendees to network between talks and have a refreshment</li>
    <li>We are looking for a monthly commitment, but a one-off offer of a space is helpful too</li>
    <li>Be accessible for those with disabilities</li>
    <li>Be accessible on a weekday evening (ideally last Wednesday of a the month) from 6:30pm to 9:30pm</li>
    <li>Parking nearby</li>
    <li>Allows food and drink to be consumed (Soft drinks / Biscuits / Crisps)</li>
    <li>Allows filming of the event and venue</li>
</ul>
<p></p>
<h3 id="venue-benefits"><a href="#venue-benefits">Benefits to the Venue</a></h3>
<p>Hosting a FREE <b>{dev.talk}</b> event provides your company/venue with the following benefits:</p>
<ul>
    <li>Showcase your venue to all attendees in a positive light.</li>
    <li>Recognition in the organiser slides at every event held at your venue.</li>
    <li>A permanent link on our website (see <a href="supporters.html">Supporters</a>).</li>
    <li>Mentions on the <a href="/tickets" target="_blank">ticket page</a>.</li>
    <li>Shout-outs on our <a href="https://bsky.app/profile/devdottalk.uk" target="_blank">Bluesky</a> social media account.</li>
    <li>Inclusion in event recordings published on our <a href="https://www.youtube.com/@devdottalk" target="_blank">YouTube channel</a>.</li>
    <li>Recognition in event-related discussions on our <a href="https://discord.com/invite/N4JGyRthDt" target="_blank">Discord server</a>.</li>
    <li>Mentions on our <a href="https://www.linkedin.com/company/dev-talk" target="_blank">LinkedIn</a> page.</li>
    <li>We'll actively promote and evangelize your venue, highlighting its unique features.</li>
    <li>Boosted word-of-mouth promotion from the local tech community.</li>
</ul>
<p><b>Additionally,</b> your venue will be recognized as a key supporter of the local tech community, playing a vital role in its growth and development.</p>
