---
layout: layout
title: "{dev.talk} - Volunteering"
description: "Help run {dev.talk} by volunteering with event operations, speaker support, media, and community tasks."
permalink: volunteering.html
includeBlueskyPosts: true
---

<section>
    <h1 id="volunteers">
        <a href="#volunteers">Volunteering</a>
    </h1>
    <p>Want to know more about the people behind {dev.talk}? See
        <a href="/who-are-we.html">Who Are We?</a>
    </p>
    <p>Do you want to get involved?</p>
    <p>We always need people to:</p>
    <ul>
        <li>Welcome and check-in attendees</li>
        <li>Help setup and pack down afterwards</li>
        <li>Tech support for the speakers</li>
        <li>Take photos</li>
        <li>Help film the event</li>
        <li>Maintain the
            <a href="https://github.com/mosoftwareenterprises/devdottalkwebsite" target="_blank" rel="noopener noreferrer">website</a>
        </li>
        <li>Help find speakers</li>
    </ul>
    <p>If this is something you are interested in doing, then please
        <a href="mailto:volunteers@devdottalk.uk">Contact us</a>
    </p>
</section>